.Card__El {
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #eee;
  text-align: center;
  border-radius: 15px;
  line-height: 2.5em;
}

.Card__El h2 {
  font-size: 1em;
}

.Card__El img {
  justify-self: center;
  align-self: center;
  width: 100px;
  height: 150px;
  border-radius: 20px;
}
